// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


/*
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; 

*/

body {
    margin: 0;
}

.logo {
    width: 35%;
    margin-left: 110px;
    margin-top: 75px;
}

form {
    margin-top: 60px;
    margin-left: 200px;

}

.formone {
    margin-top: 60px;
    margin-left: 100px;

}

#email {
    border: 2px solid #3C7A84;
    padding: 10px;
    border-radius: 25px 25px 0px 0px;
    background-color: #D9E0E0;
}

#password {
    border: 2px solid #3C7A84;
    padding: 10px;
    border-radius: 0px 0px 25px 25px;
    background-color: #D9E0E0;
}

#mail {
    border: 2px solid #3C7A84;
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
    background-color: #D9E0E0;
}

#btndeco {
    border: 2px solid #3C7A84;
    border-radius: 0px 25px 25px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 10px 30px;
    margin-top: 30px;
    background-color: #D9E0E0;
    position: absolute;
}

#btndecoo {
    border: 2px solid #3C7A84;
    border-radius: 0px 25px 25px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 650px;
    margin-right: 270px;
    padding: 10px 30px;
    background-color: #D9E0E0;
    position: absolute;
}

#btndecoa {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #D9E0E0;
}

button img {
    width: 10px;

}

#btn {
    border-radius: 50px;
    margin-right: 170px;
    position: absolute;
    right: -75px;
    top: 238px;
}

#btnn {
    border-radius: 50px;
    margin-right: 170px;
    position: absolute;
    right: -75px;
    top: 276px;
    background-color: #D9E0E0;
}

hr {
    border: 10px solid #FF7F11;
    width: 100%;
    margin: 0;
}


.logoklein {
    margin-top: 14px;
    width: 50px;
    margin-left: -56px;
    float: left;
}

.profiel {
    width: 50px;
    margin-right: -56px;
    float: right;
    margin-top: 21px;
}

.header {
    margin-top: 20px;
    width: 230px;
    height: 45px;
    margin-left: 0px;
    border-radius: 25px;
    background-color: #D9E0E0;
    border: 2px solid #3C7A84;
}

.header p {
    text-align: center;
    padding-top: -16px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #3C7A84;
}

.evenement {
    width: 300px;
    height: 250px;
    // margin-left: 100px;
    border: 3px solid #FF7F11;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.evenementen {
    width: 300px;
    height: 310px;
    border: 3px solid #FF7F11;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
}

#nav {
    width: 100%;
    background-color: #FF7F11;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.kamer {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    margin-top: 10px;
    background-color: #D9E0E0;
    text-decoration: none;
}


h1 {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
    color: #FF7F11;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    text-align: center;
}

.races {
    margin-top: 20px;
    width: 40%;
    margin-bottom: 20px;
}

.info {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    float: left;
    margin-right: 130px;
    margin-top: 180px;
    position: absolute;
    text-decoration: none;
    background-color: #D9E0E0;

}

.knop {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    background-color: #D9E0E0;
    text-decoration: none;
    cursor: pointer;

}

.create {
    float: left;
    padding-top: 120px;
    margin-left: 140px;
    float: right;
    position: absolute;

}

.createone {
    float: left;
    padding-top: 120px;
    margin-left: 140px;
    float: right;
    position: absolute;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.search {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 20px;
    text-align: center;
}

a {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 20px;
    text-align: center;
}

#login {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
}

#inlogbtn {
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 23px;
    align-content: center;
    background-color: #D9E0E0;
    margin-top: 20px;

}

.profile-buttons {
    display: flex;
    justify-content: center;
}

.logout {
    font-family: 'Poppins', sans-serif;
    background-color: #D9E0E0;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    text-decoration: none;
    margin-right: 15px;
}

.edit {
    font-family: 'Poppins', sans-serif;
    background-color: #D9E0E0;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    text-decoration: none;
}

.knowme {
    border: 3px solid #FF7F11;
    ;
    border-radius: 25px;
    width: 300px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.me {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    text-align: center;
}

.infoo {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    background-color: #D9E0E0;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    text-decoration: none;
}

.vrienden {
    font-family: 'Poppins', sans-serif;
    background-color: #D9E0E0;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 22px;
    text-decoration: none;
    margin-bottom: 20px;

}

.aanpassing {
    width: 300px;
    height: 310px;
    border: 3px solid #FF7F11;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.titel {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    text-align: center;
}


.bevestig {
    font-family: 'Poppins', sans-serif;
    background-color: #D9E0E0;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 30px;
    margin-top: 20px;
}

#form {
    margin-left: -100px;
}

ul li {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    margin-left: 60px;
}

.chatbox {
    margin-right: 180px;
}

.text {
    margin-bottom: 15px;
}

#knop {
    margin-right: 180px;
    margin-bottom: 30px;
}

.kader {
    width: 300px;
    height: 310px;
    border: 3px solid #FF7F11;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

#knopone {
    margin-top: 35px;
    width: 160px;
}

#knoptwo {
    margin-top: 35px;
    margin-bottom: 500px;
    width: 160px;
}

#knopdrie {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 160px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

    .chatbox {
        margin: 0px;
    }
}

.sparkel {
    position: absolute;
    width: 170px;
    height: 170px;
    z-index: -1;
    margin-top: 30px;
}

.winnaar {
    object-fit: cover;
    width: 100vw;
}

.topdrie {
    display: flex;
    flex-direction: row;
}

.top {
    margin-top: 350px;
    position: absolute;
}

.profilepic {
    max-width: 115px;
    border-radius: 50px;
    border: 2px solid #3C7A84;
    margin-top: 60px;
}

.profilepicie {
    max-width: 70px;
    border-radius: 250px;
    border: 2px solid #3C7A84;
    margin-top: 60px;
}

h4 {
    font-family: 'Dosis', sans-serif;
    color: #FFF;
    font-size: 20px;
    text-align: center;

}

.podium:first-child {
    position: absolute;
    left: 155px;
    top: 40px;
}

.podium:nth-child(2) {
    position: absolute;
    left: 60px;
    top: 100px;
}

.podium:nth-child(3) {
    position: absolute;
    right: 50px;
    top: 120px;
}

.achtergrond {
    position: absolute;
    z-index: -2;
    width: 375px;
    height: 812px;
}

.profilepiciee {
    max-width: 70px;
    border-radius: 250px;
    border: 2px solid #3C7A84;
    position: absolute;
    left: 90px;
}

.span {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    margin-left: 50px;
    position: absolute;
    top: 30px;
}

.naam {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    position: absolute;
    left: 200px;
    margin-top: 30px;

}

.punt {
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    position: absolute;
    left: 270px;
    top: 14px;
}

.quizer {
    margin-top: 430px;
}

.flex:first-child {
    position: absolute;
    left: 30px;
}

.flex:nth-child(2) {
    position: absolute;
    left: 30px;
    top: 560px;
}

.flex:nth-child(3) {
    position: absolute;
    left: 30px;
    top: 650px;
}

.terug {
    position: absolute;
    max-width: 19px;
    top: 19px;
    left: 19px;
}

.social-logins {
    display: flex;

    img {
        width: 25px;
    }

    a {
        margin: 0px 15px;
    }
}

.chat-box {
    border: solid 2px #FF7F11;
    padding: 10px;
    border-radius: 50px;
    width: 70%;
    height: 110px;

    a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        text-align: left;
        width: 100%;
    }

    p {
        color: black;
        font-size: 15px;
        margin-left: 10px;
    }

    span {
        position: relative;
        top: 105px;
        right: 10px;
        font-size: 15px;
        padding: 10px;
        height: 25px;
    }

    .profilepic {
        max-width: 75px;
        margin-top: 0px;
    }
}

.show-chat {
    max-height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
    width: 50%;
}

.chat-input {
    display: flex;
    margin: 10px 0px;

    input[type='submit'] {
        margin-left: 5px;
    }
}

.evenement {
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
    }
}
