// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; 

*/

body {
    margin: 0;
}

.logo {
    width: 35%;
    margin-left: 110px;
    margin-top: 75px;
}

form {
    margin-top: 60px;
    margin-left: 200px;

}

.formone {
    margin-top: 60px;
    margin-left: 100px;

}

#email {
    border: 2px solid #3C7A84;
    padding: 10px;
    border-radius: 25px 25px 0px 0px;
    background-color: #D9E0E0;
}

#password {
    border: 2px solid #3C7A84;
    padding: 10px;
    border-radius: 0px 0px 25px 25px;
    background-color: #D9E0E0;
}

#mail {
    border: 2px solid #3C7A84;
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
    background-color: #D9E0E0;
}

#btndeco {
    border: 2px solid #3C7A84;
    border-radius: 0px 25px 25px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 130px;
    margin-right: 270px;
    padding: 10px 30px;
    background-color: #D9E0E0;
}

#btndecoa {
    text-decoration: none; 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #D9E0E0;
}

button img {
    width: 10px;

}

#btn {
    border-radius: 50px;
    margin-right: 170px;
    position: absolute;
    right: -75px;
    top: 238px;
}

#btnn {
    border-radius: 50px;
    margin-right: 170px;
    position: absolute;
    right: -75px;
    top: 276px;
    background-color: #D9E0E0;
}

hr {
    border: 10px solid #FF7F11;
    width: 500px;
    margin: 0;
}


.logoklein {
    margin-top: 14px;
    width: 50px;
    margin-left: -56px;
    float: left;
}

.profiel {
    width: 50px;
    margin-right:-56px;
    float: right;
    margin-top: 21px;
}

.header {
    margin-top: 20px;
    width: 230px;
    height: 45px;
    margin-left: 0px;
    border-radius: 25px;
    background-color: #D9E0E0;
    border: 2px solid #3C7A84;
}

.header p {
    text-align: center;
    padding-top: -16px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #3C7A84;
}

.evenement {
    width: 300px;
    height: 250px;
    // margin-left: 100px;
    border: 3px solid #FF7F11;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.evenementen {
    width: 300px;
    height: 310px;
    border: 3px solid #FF7F11;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}

nav a{
 margin-right: 40px;
 margin-left: 30px;
 margin-top: 30px;
}

#nav{
    width: 375px;
    height: 60px;
    background-color: #FF7F11 ;
    padding-top: 10px;
}

.kamer{ 
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    margin-top: 10px;
    background-color: #D9E0E0;
    }


h1{
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
    color: #FF7F11;
}

h2{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 18px;
    text-align: center;
}

h3{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    text-align: center;
}

.races {
    margin-top: 20px;
    width: 40%;
    margin-bottom: 20px;
}

.info{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    float: left;  
    margin-right: 130px;
    margin-top: 180px;
    position: absolute;
    text-decoration: none;
    background-color: #D9E0E0;

}

.knop{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    background-color: #D9E0E0;
    
}

.create{ 
    float: left;
    padding-top: 180px;
    margin-left: 140px;
    float: right;
    position: absolute;
    
}

.createone{ 
    float: left;
    padding-top: 120px;
    margin-left: 140px;
    float: right;
    position: absolute;
    
}

//temporary css
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 20px;
    text-align: center;
}

a{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 20px;
    text-align: center;
}

#login{
    text-decoration: none; 
    font-family: 'Poppins', sans-serif;
    font-size: 11px;

}

.loginlogo{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

#inlogbtn{
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 23px;
    align-content: center;

}

.back{
    background-image: url(/public/images/winnaar.jpeg);
}

.logout{
    font-family: 'Poppins', sans-serif;
    background-color: #D9E0E0;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    text-decoration: none;
    float: left;
    position: absolute;
    margin-top: 240px;
    margin-right: 90px;
}

.edit{
    font-family: 'Poppins', sans-serif;
    background-color: #D9E0E0;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    text-decoration: none;
    margin-left: 110px;
}

.knowme{
    border: 2px solid #FF7F11; ;
    border-radius: 25px;
    width: 300px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.me{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    text-align: center;
}

.infoo{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    background-color: #D9E0E0;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 20px;
    text-decoration: none;
}

.vrienden{
    font-family: 'Poppins', sans-serif;
    background-color: #D9E0E0;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 30px;
    text-decoration: none;
    margin-top: 20px;
 
}

.aanpassing{
    width: 300px;
    height: 310px;
    border: 3px solid #FF7F11;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.titel{
    font-family: 'Poppins', sans-serif;
    color: #FF7F11;
    font-size: 15px;
    text-align: center;
}


.bevestig{
    font-family: 'Poppins', sans-serif;
    background-color: #D9E0E0;
    color: #FF7F11;
    font-size: 15px;
    border: 2px solid #3C7A84;
    border-radius: 25px;
    padding: 9px 30px;
    margin-top: 20px;
}

#form{
    margin-left: -100px;
}