@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Catamaran&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
/*
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; 

*/
body {
  margin: 0;
}

.logo {
  width: 35%;
  margin-left: 150px;
  margin-top: 75px;
}

form {
  margin-top: 60px;
  margin-left: 130px;
}

#email {
  border: 2px solid #3C7A84;
  padding: 10px;
  border-radius: 25px 25px 0px 0px;
}

#password {
  border: 2px solid #3C7A84;
  padding: 10px;
  border-radius: 0px 0px 25px 25px;
}

#mail {
  border: 2px solid #3C7A84;
  padding: 10px;
  border-radius: 0px 0px 0px 0px;
}

#btndeco {
  border: 2px solid #3C7A84;
  border-radius: 0px 25px 25px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 130px;
  margin-right: 300px;
}

button img {
  width: 10px;
}

#btn {
  border-radius: 50px;
  margin-right: 170px;
  position: relative;
}

hr {
  border: 10px solid #FF7F11;
  width: 500px;
  margin: 0;
}

.winnaar {
  width: 500px;
  height: 400px;
}

.logoklein {
  margin-top: 14px;
  width: 50px;
  margin-left: -56px;
  float: left;
}

.profiel {
  width: 50px;
  margin-right: -56px;
  float: right;
  margin-top: 21px;
}

.header {
  margin-top: 20px;
  width: 230px;
  height: 45px;
  margin-left: 0px;
  border-radius: 25px;
  background-color: #D9E0E0;
  border: 2px solid #3C7A84;
}

.header p {
  text-align: center;
  padding-top: -16px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #3C7A84;
}

.evenement {
  width: 300px;
  height: 250px;
  border: 3px solid #FF7F11;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.evenementen {
  width: 300px;
  height: 310px;
  border: 3px solid #FF7F11;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 170px;
}

nav a {
  margin-right: 40px;
  margin-left: 30px;
  margin-top: 30px;
}

#nav {
  width: 375px;
  height: 60px;
  background-color: #FF7F11;
  padding-top: 10px;
}

h1 {
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 25px;
  color: #FF7F11;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #FF7F11;
  font-size: 20px;
  text-align: center;
}

.race {
  margin-left: 80px;
  margin-top: 15px;
  width: 40%;
  margin-bottom: 20px;
}

.races {
  margin-left: 0px;
  margin-top: 15px;
  width: 40%;
  margin-bottom: 20px;
}

.info {
  font-family: "Poppins", sans-serif;
  color: #FF7F11;
  font-size: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  font-family: "Poppins", sans-serif;
  color: #FF7F11;
  font-size: 20px;
  text-align: center;
}

a {
  font-family: "Poppins", sans-serif;
  color: #FF7F11;
  font-size: 20px;
  text-align: center;
}
